/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/camera.css";
@import "../css/jquery.fancybox.css";
@import "../css/subscribe-form.css";

@import url(//fonts.googleapis.com/css?family=Bitter);


html,
body {}

a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

.wrapper,
.wrapper-extra,
.extra-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.wrap {
	position: relative;
	text-align: center;
}

.wrapper-after:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.dis-block {
	display: block;
}

.dis-inblock {
	display: inline-block;
}

.txt_left {
	text-align: left;
}

.txt_right {
	text-align: right;
}

.txt_cntr {
	text-align: center;
}

.txt_ital {
	font-style: italic;
}

.txt_line_through {
	text-decoration: line-through;
}


.marg-left-0 {
	margin-left: 0 !important;
}

.marg-right-0 {
	margin-right: 0 !important;
}

.marg-left-right-0 {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.last-mbot {
	margin-bottom: 0 !important;
}

.last-pbot {
	padding-bottom: 0 !important;
}

.last-mpbot {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.marRight1 {
	margin-right: 33px;
}

.marRight2 {
	margin-right: 55px;
}

.padTop1 {
	padding-top: 20px;
}

.padBot1 {
	padding-bottom: 60px;
}

.padBot2 {
	padding-bottom: 41px;
}

.mar1 {
	margin: -1px 10px 0;
	display: inline-block !important;
	color: #000000 !important;
}

.mar2 {
	margin: 0 10px;
}

.marTop1 {
	margin-top: -5px;
}

.marTop2 {
	margin-top: 5px;
}

.marTop3 {
	margin-top: -24px;
}

.marTop4 {
	margin-top: 40px;
}

.marTop5 {
	margin-top: 27px;
	margin-bottom: -16px;
}

.marTop6 {
	margin-top: -9px;
}

.marTop7 {
	margin-top: -11px;
}

.marTop8 {
	margin-top: 14px;
}

.marTop9 {
	margin-top: 30px;
}

.marTop10 {
	margin-top: -13px;
}

.marBot1 {
	margin-bottom: -8px;
}


.quote_1 {
	text-align: center;
	max-width: 660px;
	display: inline-block;
	margin-top: 34px;
}

.hline2 {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 3px solid #0c0a0a;
}

#page4 p {
	margin-bottom: 9px;
}

.box,
.box2,
.box3 {
	overflow: hidden;
}

.bold {
	font-weight: bold;
}

.color1 {
	color: #f9129b;
}

.color2 {
	color: #ffd64f;
}

.color3 {
	color: #000000;
}

/* Global properties ======================================================== */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-width: 300px;
	background: #000000;
	color: #9c9c9c;
	font: 14px/24px Arial, Helvetica, sans-serif;
}

.fs_14 {
	font-size: 14px;
}

#back-top {
	position: fixed;
	bottom: 40px;
	left: 51%;
	z-index: 1000;
	display: none;
	margin-left: 500px;
	width: 24px;
	height: 18px;
	background: url("../images/up-arrow.png") 0 center no-repeat;
	cursor: pointer;
}

#back-top:hover {
	background: url("../images/up-arrow.png") 100% center no-repeat;
}

.main {
	padding: 0 0 0 0;
	width: 100%;
	height: auto;
	/* background: #fafafa; */
}

.div-content {
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 68px;
	width: 100%;
	background: #fff;

}

.txt_col1 {
	position: relative;
	display: inline-block;
	width: 64px;
}

/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1 {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	margin-top: 0px;
}

h1 img {
	max-width: inherit;
}


h2 {
	font: 40px/40px 'Bitter', Arial, sans-serif;
	color: #110f06;
	margin-top: 61px;
	text-transform: uppercase;
}

h2.v2 {
	font: 50px/50px 'Bitter', Arial, sans-serif;
	margin-top: 61px;
}

h2.v3 {
	margin-bottom: 42px;
}

h2 span {
	font: 30px/30px 'Bitter', Arial, sans-serif;
	color: #ffd54f;
	display: block;
}

h3 {
	font: 25px/31px 'Bitter', Arial, sans-serif;
	color: #110f06;
	margin-top: 42px;
	text-transform: uppercase;
	padding-bottom: 6px;
}

h3 span {
	font: 15px/15px 'Bitter', Arial, sans-serif;
	color: #ffd64f;
	display: block;
}

h3.v2 {
	padding-bottom: 0;
	margin-bottom: -4px;
}

h4 {
	margin-bottom: 13px;
	color: #06b0cf;
	font: 20px/24px 'Bitter', Arial, sans-serif;
}

h5 {
	margin-top: 10px;
	margin-bottom: 0;
	color: #333333;
	text-transform: uppercase;
	font: 14px/22px 'Bitter', Arial, sans-serif;
}



.txt1 {
	font: 20px/20px 'Bitter', Arial, sans-serif;
	color: #fff;
	margin-top: 0px;
	text-transform: uppercase;
	display: inline-block;
}

.txt2 {
	font: 15px/18px 'Bitter', Arial, sans-serif;
	color: #808080;
	margin-top: 43px;
	text-transform: uppercase;
}

.txt3 {
	font: 20px/25px 'Bitter', Arial, sans-serif;
	color: #ffd54f;
	margin-top: 8px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.txt4 {
	font: 14px/18px 'Bitter', Arial, sans-serif;
	color: #110f06;
	margin-top: 3px;
	text-transform: uppercase;
	display: block;
	margin-bottom: -11px;
}

.year_section {
	font: 15px/20px 'Bitter', Arial, sans-serif;
	color: #ffd64f;
	margin-top: 19px;
	float: left;
	width: 54px;
}




.figure_video {
	display: block;
	margin-top: 75px;
}

.figure_video a {
	display: block;
}

.b_right {
	-webkit-box-sizing: border-box;
	/* Safari */
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	box-sizing: border-box;
	border-right: 1px solid #c0c0c0;
}


.lightbox-video {
	position: relative;
	display: inline-block;
}

.lightbox-video span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/magnify-video.png) no-repeat 50% 50%;
}


.white_bg {
	position: relative;
	margin-top: 40px;
	margin-bottom: 1px;
	padding: 29px 0 13px;
	width: 100%;
	border: none;
	background: #fff;
}

.date_section {
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	/* Safari */
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	box-sizing: border-box;
	margin-right: 18px;
	padding-top: 9px;
	width: 60px;
	height: 51px;
	background: #3c4346;
	color: #fff;
	text-align: center;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}


.day {
	display: block;
	font: 18px/19px Arial, sans-serif;
}

.month {
	display: block;
	text-transform: uppercase;
	font: 10px/14px Arial, sans-serif;
}

.comment_link {
	margin-top: 31px;
	margin-right: 31px;
}

.main_date_section:hover .date_section {
	background: #e74c3c;
}

p {
	margin-top: 15px;
}

img {
	margin-bottom: 0px;
	max-width: 100%;
	height: auto;
}

.img1 {
	float: left;
	margin-top: 47px;
	margin-right: 19px;
}

.img2 {
	margin-top: 40px;
}

.img3 {
	float: left;
	margin-top: 47px;
	margin-right: 19px;
	margin-bottom: 5px;
}

.img4 {
	margin-top: 49px;
	margin-bottom: 11px;
}

.img5 {
	margin-top: 49px;
}

.img6 {
	float: left;
	margin-top: 19px;
	margin-right: 19px;
	margin-bottom: 5px;
}


a {
	color: #ffd64f;
	text-decoration: none;
	cursor: pointer;
}

a.link1 {
	color: #fff;
}

a.link1:hover {
	color: #ffd955;
}

a.link1 p {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.link1:hover p {
	color: #ffd955;
}


a.link2 {
	color: #110f06;
}

a.link2:hover {
	color: #ffd955;
}

a.link3 {
	color: #110f06;
	font: 14px/20px 'Bitter', Arial, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 25px;
}

a.link3:hover {
	color: #ffd955;
}

a.link4 {
	color: #110f06;
	font: 14px/20px 'Bitter', Arial, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
}

a.link4:hover {
	color: #ffd955;
}

a.link4.v2 {
	margin-top: 14px;
	margin-bottom: -7px;
}

a.link4.v3 {
	margin-top: 30px;
}

a.link4.v4 {
	margin-top: 29px;
	margin-bottom: -7px;
}

a.link5 {
	color: #000 !important;
	text-decoration: underline !important;
	position: relative;
	z-index: 1000;
}

a.link5:hover {
	color: #ffd955 !important;
}

a.link6 {
	color: #ffd64f;
}

a.link6:hover {
	color: #000;
}


a.link8 {
	color: #808080;
	font: 15px/20px 'Bitter', Arial, sans-serif;
	text-transform: uppercase;
}

a.link8:hover {
	color: #000;
}


a:hover {
	color: #000;
	text-decoration: none;
}

a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.date_txt {
	text-transform: uppercase;
	font-size: 12px;
	color: #6f6f6f;
}

.comment_icon2 {
	position: relative;
	display: inline-block;
	margin: -17px -2px 0 19px;
	width: 63px;
	height: 55px;
	background: url(../images/comment_icon_big.png) 0 0 no-repeat;
}

.section_year {
	float: left;
	width: 40px;
	color: #6f6f6f;
}


.num_section {
	position: relative;
	width: 70px;
	height: 92px;
	background-color: #ffd64f;
	float: left;
	margin-right: 29px;
	font: 40px/40px 'Bitter', Arial, sans-serif;
	color: #fff;
	text-align: center;
	-webkit-box-sizing: border-box;
	/* Safari */
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	box-sizing: border-box;
	text-align: center;
	padding-top: 13px;
	margin-top: 48px;
}

.date_txt2 {
	display: block;
	color: #110f06;
	font-size: 15px;
	text-transform: uppercase;
	margin-top: -7px;
}

.num_section:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 12px;
	height: 15px;
	right: -12px;
	top: 14px;
	background: url(../images/date_section_corner1.png) no-repeat 0 0;
}


/************Header************/
header {
	position: relative;
	z-index: 1000;
	padding-top: 39px;
	padding-bottom: 0;
	padding-bottom: 59px;
	min-height: 15px;
	background: #000000;
}

header.content_header {
	margin-bottom: 78px;
}

.bot_line {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 42px;
	width: 100%;
	height: 1px;
	background: #f2f2f2;
}

/************Content***********/
.box_1 {
	position: relative;
	width: 100%;
	background: #1d190a;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	-webkit-box-sizing: border-box;
	/* Safari */
	margin-top: 37px;
	color: #232323;
}

.box_1_pad {
	padding: 18px 17px 39px 25px;
}

/* ============================= lists ====================== */
.listWithMarker {
	margin: 0;
	margin-top: 21px;
	/* margin-left: 23px; */
}

.listWithMarker.v2 {
	margin-top: 50px;
	margin-bottom: -6px;
}

.listWithMarker li {
	display: block;
	margin-bottom: 12px;
	padding-left: 37px;
	background: url(../images/list_marker.png) 0px -1px no-repeat;
}

.listWithMarker li a {
	color: #110f06;
	text-decoration: none;
	font: 14px/16px "Bitter", Arial, sans-serif;
	text-transform: uppercase;
}

.listWithMarker li a:hover {
	color: #ffd955;
}


/* ============================= end lists ====================== */
.comments_btn {
	padding-left: 19px;
	background: url(../images/comment_icon.png) 0 2px no-repeat;
	color: #6b6b6b;
}


.more_btn {
	display: inline-block;
	margin-top: 4px;
	padding: 3px 16px;
	background: #06c4e6;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 12px/20px "Bitter", Arial, sans-serif;
}

.more_btn:hover {
	background: #000;
	color: #06c4e6;
}

.icon-arrow-right {
	position: relative;
	top: -1px;
	left: 0;
	margin-left: 10px;
	font-weight: normal;
	font-size: 14px;
	font-family: 'FontAwesome';
	line-height: 1em;
}


.more_btn2 {
	display: inline-block;
	color: #f9129b;
	text-decoration: none;
	text-transform: uppercase;
	font: 12px/18px "Bitter", Arial, sans-serif;
}

.more_btn2:hover {
	color: #000;
}

.more_btn3 {
	display: inline-block;
	margin-top: 14px;
	padding: 7px 18px 8px 23px;
	/* padding-right: 22px; */
	background: #fff;
	color: #0bc0d3;
	text-decoration: none;
	text-transform: uppercase;
	font: 600 14px/20px "Bitter", Arial, sans-serif;
}

.more_btn3:hover {
	background: #f9129b;
	color: #000;
}



figure {
	display: block;
	margin-top: 50px;
}

figure.img_inner {
	display: block;
	overflow: hidden;
	margin-top: 49px;
	height: auto;
	line-height: 0;

}

figure iframe {
	width: 100%;
	width: 350px;
	height: 235px;
}

address {
	display: block;
	margin-top: 29px;
	font-style: normal;
}

address dl dt {
	margin-bottom: 10px;
	text-transform: uppercase;
	/* color: #47d4f9; */
	font: 14px/20px 'Bitter', Arial, sans-serif;
	color: #110f06;
}

address dd span {
	position: relative;
	display: inline-block;
	width: 95px;
}

address a,
a.link7 {
	color: #9c9c9c;
	text-decoration: none;
}

address a:hover,
a.link7:hover {
	color: #ffd64f;
}


a.link7 {
	color: #ffd64f;
	text-decoration: none;
}

a.link7:hover {
	color: #000;
}




/*********************************start magnifier2*************************************/
.magnifier2 {
	position: relative;
	/* display:block; */
	display: inline-block;
}

.magnifier2 img {}

.zoom {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	/* Safari */
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/

	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 10px solid #ffd64f;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

a.magnifier2:hover .zoom {
	opacity: 1;
}

a.magnifier2 .zoom {
	opacity: 0;
}

/*********************************end magnifier2*************************************/
/************Footer************/
footer {
	display: block;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: #110f06;
	margin-top: 0px;
}

.footer_priv {
	padding: 0px 0 20px;
}

p.txt_priv {
	color: #5d504b;
	font: 13px/20px "Bitter", Arial, sans-serif;
	margin-top: 30px;
	text-transform: uppercase;
	float: left;
}

p a {
	color: #5d504b;
}

p a:hover {
	color: #fff;
}

/*----------- start social icons ----------------*/

.soc_icons {
	float: right;
	position: relative;
	display: inline-block;
	margin-top: 2px;
	white-space: nowrap;
	margin-top: 26px;
	margin-left: -12px;
}

.soc_icons>li {
	position: relative;
	display: inline-block;
	margin-left: 2px;
}

.soc_icons>li>a {
	position: relative;
	color: #ced0d1;
	line-height: 1em;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;

	color: #fff;
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #342b29;
	text-align: center;

	font: normal normal 16px/32px 'FontAwesome';
	border-radius: 500px;
}

.soc_icons>li>a:hover {
	color: #110f06;
	text-decoration: none;
	background: #ffd853;
}

.YTPlayer iframe {
	border: none !important;
	/*width: 370px;*/
	width: 100%;
	height: 188px;
	margin-top: 45px;
}


/*----------- end social icons ----------------*/


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1239px) {
	.div-content {
		width: 100%;
	}
}


@media only screen and (max-width: 995px) {


	.address figure iframe {
		max-width: 100%;
		width: 100%;
	}

	address dd span {
		width: 74px;
	}

	.slider_wrapper {
		height: auto !important;
	}


	figure iframe {
		width: 100%;
	}

	figure.img_inner {
		padding-top: 20px;
	}

	.box {
		overflow: visible;
	}

	.magnifier2 {
		width: 100%;
	}

	.camera_prev,
	.camera_next {
		left: 2px;
		margin-left: 0;
	}

	.camera_next {
		left: auto;
		right: 2px;
	}

	figure iframe {
		width: 100%;
	}

}


@media only screen and (max-width: 767px) {

	img {
		width: 100%;
	}

	img.no_resize,
	h1 img {
		width: auto;
	}

	.box {
		overflow: visible;
	}

	.mobile_txt_cntr {
		text-align: center;
	}

	header {
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	h1 {
		float: none;
	}

	.caption span.slider_txt1 {
		margin-top: 97px;
		font: 54px/60px 'Bitter', Arial, sans-serif;
	}

	.caption span.slider_txt2 {
		display: none;
	}

	.img1,
	.img3 {
		margin-bottom: 10px;
	}


}


@media only screen and (max-width: 479px) {
	.caption span.slider_txt1 {
		margin-top: 131px;
		font: 21px/40px 'Bitter', Arial, sans-serif;
	}

}

@media only screen and (max-width: 320px) {}

.box_1_pad {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
